.calculator {
  height: 75vh !important;
  background-color: #f7f7f8 !important;
  overflow-y: scroll;
}

.products {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 75vh !important;
  padding: 1%;
  border-left: lightgray 5px solid;
  background-color: #f7f7f8 !important;
}

.productImage {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dinero {
  height: 25vh !important;
  border: black 2px dotted;
  position: relative;
  background-color: #f7f7f8 !important;

  bottom: 20px !important;
  right: 0;
  left: 0;
}
.dinero > p {
  font-size: xx-large;
  font-weight: bold;
}
