.calculatorContainer {
  height: 75vh !important;
}

.items {
  overflow-y: scroll;
  height: 75%;
  padding: 2%;
}

.dinero {
  height: 25%;
  border: black 2px solid;
  padding: 2%;
  position: relative;
  bottom: 20px !important;
  right: 0;
  left: 0;
  margin-top: 5%;
}

.dinero > p {
  font-size: large;
  font-weight: bold;
}

.productsContainer {
  padding: 2%;
  height: 75vh !important;
}

.searchInput {
  width: 100%;
  border-width: 2px;
  padding-bottom: 2%;
}

.products {
  padding: 2%;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.productImage {
  height: 75%;
  width: 75%;
}

.authSubtext {
  text-decoration-line: underline;
  color: lightgray;
  cursor: pointer;
}
.powerButtons {
  width: 100%;
  padding: 5px;
}

.powerButtons > button {
  width: calc(100% / 3);
}

.activeRow {
  background-color: #dff3bf;
}

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 25vw !important;
}

#dialogFlex {
  display: flex !important;
}

.paymentButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 1px black solid;
  border-radius: 5px;
  color: black;
}

.paymentButtons:hover {
  background-color: rgba(203, 203, 210, 0.2);
  color: black;
}

.tablePayments {
  overflow-y: scroll;
  height: 70vh !important;
}

#dueMoney {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border: 1px black solid !important;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
}

.Cliente {
  background-color: lightgray;
  height: 10vh;
  width: 10vw;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}
