.calculatorContainer {
  height: 75vh !important;
}

.items {
  overflow-y: scroll;
  height: 75%;
  padding: 2%;
}

.dinero {
  height: 25%;
  border: black 2px solid;
  padding: 2%;
  position: relative;
  bottom: 20px !important;
  right: 0;
  left: 0;
  margin-top: 5%;
}

.dinero > p {
  font-size: large;
  font-weight: bold;
}

.productsContainer {
  padding: 2%;
  height: 75vh !important;
}

.searchInput {
  width: 100%;
  border-width: 2px;
  padding-bottom: 2%;
}

.products {
  padding: 2%;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.productImage {
  height: 75%;
  width: 75%;
}
