.iconBar {
  width: 10vw;
  height: 100vh;
  min-height: 100vh;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #039be5;
}

.site-content {
  width: 90vw;
  position: static;
  right: 0;
  margin-left: 10vw;
}

.iconBar a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px;
  transition: all 0.4s ease;
  color: white;
  font-size: 18px;
  width: 100%;
}

.iconBar > a:hover {
  background-color: #0277bd;
}

.active {
  background-color: #01579b;
}
